/lab1/omp_hello
/lab2/data.in
/lab4/mycode
/lab5/cpu
/lab5/gpu
/lab6/meanshift/cpu
/lab6/meanshift/gpu
/lab6/mlp_cpu/mlp
/lab6/mlp_gpu/mlp
/lab6/report/*
!/lab6/report/report.tex
*.pdf
.vs/
build/
.vscode/
.cache/
*.zip